@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: system-ui, sans-serif, monospace;
  font-size: 20px;
}

body {
  @apply bg-zinc-100;
}

#tecnologies,
#aboutMe,
#projects {
  scroll-margin-top: 120px;
}
